body{
    margin: 0;
}

.contenitor{
    width: 70%;
    margin: auto;
}

header {
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 161, 255);
    background-size: 30%;
    height: 90px;
}

#immagine-logo{
    height: 50%;
    padding: 25px 0 0;
}

#title{
    margin-bottom: 0;
}

address{
    font-style: normal;
}

a{
    text-decoration: none;
    color: blue;
}

#data{
    font-size: 10px;
}

.immagine-titolo{
    height: 300px;
    width: 45%;
    margin-top: 20px;
}

figcaption{
    font-size: 10px;
}